<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style/student_profile.css">
</head>
<body>

<div id="main">
<div class="navbar">
  <button class="openbtn">CampusConnect</button>
  <button class="logout" onclick="window.location.href ='/admin_logout'">Logout</button>
  </div>
  <form action="/search" method="get">
  <input type="text" placeholder="Search..." name="q">
  <button type="submit">Search</button>
  </form>
    <form action="/saveDetails" method="post" id="myForm">
        <div id="first">
        <label for="fname">First Name:</label>
        <input type="text" id="fname" name="fname" readonly="true" value="<%= personal_data.firstname %>" ><br><br>
        
        <label for="lname">Last Name:</label>
        <input type="text" id="lname" name="lname" readonly="true"  value="<%= personal_data.lastname %>"><br><br>

        <label for="dob">Date Of Birth:</label>
        <input type="text" id="dob" name="dob" readonly="true" value="<%= personal_data.dob %>"><br><br>
        
        <label for="gender">Gender:</label><br>
        <div class="radio-buttons">
          <input type="radio" id="male" name="gender" value="male" readonly="true" <% if (personal_data.gender === 'male') { %>checked<% } %>>
          <label for="male">Male</label><br>
          <input type="radio" id="female" name="gender" value="female" readonly="true" <% if (personal_data.gender === 'female') { %>checked<% } %>>
          <label for="female">Female</label><br>
          <input type="radio" id="other" name="gender" value="other" readonly="true">
          <label for="other">Other</label><br>
        </div>
        <label for="adhaar">Aadhaar Number:</label>
        <input type="text" id="aadhaar" name="aadhaar" maxlength="12" readonly="true"  value="<%= personal_data.aadhaar %>"><br><br>

        <label for="fathername">Father Name:</label>
        <input type="text" id="fathername" name="father_name" readonly="true"  value="<%= personal_data.father %>"><br><br>

        <label for="mothername">Mother Name:</label>
        <input type="text" id="mothername" name="mother_name" readonly="true"  value="<%= personal_data.mother %>"><br><br>

        <label for="phone"> Parent/Guardian Phone Number:</label>
        <input type="tel" id="phone" name="parent_phone" maxlength="10" readonly="true"  value="<%= personal_data.parent_phone %>"><br><br>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" readonly="true"  value="<%= personal_data.email %>"><br><br>
        
        <label for="phone">Phone Number:</label>
        <input type="tel" id="phone" name="phone" maxlength="10" readonly="true"  value="<%= personal_data.phone %>"><br><br>

        <label for="address">Address:</label>
        <textarea id="address" name="address" rows="5" cols="50" readonly="true" ><%= personal_data.address %></textarea>
        <br><br>

        <button name= "next" type="button" onclick="showSecondPage()" >Next</button>
        </div>
        <div id="second" style="display: none;">
            <label for="regno">Reg Number:</label>
        <input type="text" id="regno" name="reg_no" readonly="true" value="<%= ed_details.reg_no %>"><br><br>

        <h2>UG Details </h2>
        <label for="university_name">University Name:</label>
        <input type="text" id="univ_name" name="uni_name" readonly="true" value="<%= ed_details.uni_name %>">
        <br>
        <label for="univ_course">Course:</label>
        <input type="text" id="univ_course" name="univ_course" readonly="true" value="<%= ed_details.univ_course %>">
        <br>
        <label for="ug_board">Board of Education:</label>
        <div class="radio-btns">
          <input type="radio" id="autonomous" name="ug_board" value="
          Autonomous" readonly="true" >
          <label for="autonomous">Autonomous</label><br>
          <input type="radio" id="JNTUK" name="ug_board" value="JNTUK"  readonly="true">
          <label for="JNTUK">JNTUK</label><br>
        </div>
        <br>
        <label for="univ_start_year">Start Year:</label>
        <input type="number" id="univ_start_year" name="univ_start_year" min="1900" max="2023"  readonly="true" value="<%= ed_details.univ_start_year %>">
        <br>
        <label for="univ_end_year">End Year:</label>
        <input type="number" id="univ_end_year" name="univ_end_year" min="1900" max="2023"  readonly="true" value="<%= ed_details.univ_end_year %>">
        <br>
        <label for="univ_cgpa">CGPA:</label>
        <input type="text" id="univ_cgpa" name="univ_cgpa" readonly="true" value="<%= ed_details.univ_cgpa %>">
        <br>
        <h2>Intermediate / Diploma Details </h2>
        <label for="clg_name">College Name:</label>
        <input type="text" id="clg_name" name="clg_name"  readonly="true" value="<%= ed_details.clg_name %>">
        <br>
        <label for="clg_course">Course:</label>
        <input type="text" id="clg_course" name="clg_course"  readonly="true" value="<%= ed_details.clg_course %>">
        <br>
        <label for="clg_board">Board of Education:</label>
        <input type="text" id="clg_board" name="clg_board"  readonly="true" value="<%= ed_details.clg_board %>">
        <br>
        <label for="clg_start_year">Start Year:</label>
        <input type="number" id="clg_start_year" name="clg_start_year" min="1900" max="2023"  readonly="true"value="<%= ed_details.clg_start_year %>">
        <br>
        <label for="clg_end_year">End Year:</label>
        <input type="number" id="clg_end_year" name="clg_end_year" min="1900"  readonly="true" value="<%= ed_details.clg_end_year %>">
        <br>
        <label for="clg_cgpa">CGPA:</label>
        <input type="text" id="clg_cgpa" name="clg_cgpa"  readonly="true" value="<%= ed_details.clg_cgpa %>">
        
        <h2>SSC Details</h2>
        <label for="school_name">School Name:</label>
        <input type="text" id="school_name" name="scl_name"  readonly="true" value="<%= ed_details.scl_name %>">
        <br>
        <label for="yop">Year of Passing:</label>
        <input type="number" id="yop" name="yop" min="1900" max="2023"  readonly="true" value="<%= ed_details.yop %>">
        <br>
        <label for="school_cgpa">CGPA:</label>
        <input type="text" id="school_cgpa" name="scl_cgpa"  readonly="true" value="<%= ed_details.scl_cgpa %>">
        <br>
        <label for="scl_board">Board of Education:</label>
        <input type="text" id="scl_board" name="scl_board"  readonly="true" value="<%= ed_details.scl_board %>">
        <br>
        <button name= "prev" type="button" onclick="showFirstPage();">Previous</button>
      <button name="next" type="button" onclick="showThirdPage();">Next</button>
        </div>
        <div id="third" style="display: none;">
          <label for="skills">Skills:</label>
        <input type="text" id="skills" name="skills"  readonly="true" value="<%= ed_details.skills%>">
        <br><br>
        <label for="skills">Projects:</label>
        <div id="projectsList">
        <% if(projects != null && projects.length == 0) { %>
  <div class="project">
    <label>Title:</label>
    <input type="text" name="title" readonly="true">
    <br>
    <label>Description:</label>
    <textarea name="description" readonly="true"></textarea>
    <br>
  </div>
<% }  else if(projects != null )  { %>
  <% for (p of projects) { %>
    <div class="project">
      <label>Title:</label>
      <input type="text" name="title" readonly="true" value="<%= p.title %>">
      <br>
      <label>Description:</label>
      <textarea name="description" readonly="true"><%= p.description %></textarea>
      <br>
    </div>
  <% } %>
<% } %>
        </div>
        
        <button type="button" id="addProject">Add Project</button>
        <label for="certificates">Certificates:</label>
        <input type="text" id="certificates" name="certificates"  readonly="true" value="<%= ed_details.certi%>">
        <br><br>
        <label for="internships">Internships:</label>
        <div id="internshipsList">
          <% if(intern.length == 0) { %>
            <div class="internship">
            <label>Company:</label>
            <input type="text" name="company"  readonly="true" >
            <br>
            <label>Description:</label>
            <textarea name="jobDesc"  readonly="true"></textarea>
            <br>
          </div>
          <% } else { %>
  <% for (i of intern) { %>
    <div class="internship">
            <label>Company:</label>
            <input type="text" name="company"  readonly="true" value="<%= i.company %>">
            <br>
            <label>Description:</label>
            <textarea name="jobDesc"  readonly="true"><%= i.jobDesc %></textarea>
            <br>
          </div>
          <% } %>
<% } %>
        </div>
        <br><br>
        <button name= "prev" type="button" onclick="showSecondPage();">Previous</button>
        <button type="button" onclick="generatePDF()">Download Resume</button>
      </div>
    </form>
</div>  
      <script src="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.js"></script>
    <script>
        function generatePDF(){
            window.location.href = "/generatePDF";
        }
        function showFirstPage(){
    document.getElementById('first').style.display='block';
    document.getElementById('second').style.display='none';
    document.getElementById('third').style.display='none';
  }
  function showSecondPage(){
    document.getElementById('first').style.display='none';
    document.getElementById('second').style.display='block';
    document.getElementById('third').style.display='none';
  }
  function showThirdPage(){
    document.getElementById('first').style.display='none';
    document.getElementById('second').style.display='none';
    document.getElementById('third').style.display='block';
  }
  
function openNav() {
  document.getElementById("mySidebar").style.width = "250px";
  document.getElementById("main").style.marginLeft = "250px";
}

/* Set the width of the sidebar to 0 and the left margin of the page content to 0 */
function closeNav() {
  document.getElementById("mySidebar").style.width = "0";
  document.getElementById("main").style.marginLeft = "0";
}


    </script>
</body>

</html>